{% extends 'authenticated/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/poaching.css') }}">
{% endblock %}

{% block body %}
    <div class="card no-min-height">
        <div class="card-header">
            Braconnage
        </div>
        <div class="card-back-msg d-flex p-0">
            <div class="poaching-image">
                <img src="{{ asset('img/avatars/explore.jpg') }}" alt="npc">
            </div>
            <div class="poaching-message">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div {% if label == 'danger' %}class="text-danger"{% endif %}>
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}