.modal-body {
    padding: 0;
}

.head-form {
    background: url("../img/structure/back1dark.jpg");
    border-bottom: 2px solid #100D0B;
}

.head-form > .d-flex > div:first-of-type {
    border-right: 2px solid #100D0B;
}

.head-form > .d-flex > div:last-of-type {
    text-align: right;
}

.head-form > .d-flex > div > select {
    width: 90%;
}