{% if alliance and alliance.advert|length > 0 and app.user.getShowAllianceAdvert %}

    <div class="card card-advert mb-3" id="alliance-advert">
        <div class="card-header">
            Annonce du Chef des <span class="font-weight-bold alliance-{{ alliance.color }}">[{{ alliance.abbreviation }}]</span>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <div class="avatar-profile">
                    <img src="{{ asset('img/avatars/' ~ alliance.getLeader.avatar ~ '.jpg') }}" alt="Chef">
                </div>
                <p>
                    {{ alliance.advert }}
                </p>
            </div>
            <div class="advert-close">Ne plus afficher</div>
        </div>
    </div>

{% endif %}